.filters-layout {
    color: #717171;
    display: grid;
    grid-auto-flow: column;
    max-width: 100%;
    z-index: 4;
    background-color: #fff;
    grid-column: 1 / -1;
    box-shadow: 0 0 #ccc;
    transition: position 0.8s;
    align-items: center;

    button {
        height: 30px;
        border-radius: 10px;
        height: 30px;
        border: 1px solid lightgray;
        font-size: 12px;
        // min-height: 78px;
    }

    &.filter-sticky {
        position: sticky;
        top: 80px;
    }

    &.modal-filter-open {
        z-index: 6;
    }

    .btn-filters {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        font-size: 16px;

        &:hover {
            background-color: $clGreyLighter;
        }
    }
}

.emojis-filters {
    height: 78px;
    display: grid;
    overflow: hidden;
    overscroll-behavior-inline: contain;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 32px;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .emoji-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background-color: white;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        min-width: 56px;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            border-bottom: 2px solid #a9a6a6;
            color: #000;
            font-weight: bold;
        }

        &.selectedEmoji {
            border-bottom: 2px solid #000;
            color: #000;
            font-weight: bold;
        }

        .emoji-text {
            margin-top: 5px;
        }
    }
}

.emoji-filter.selectedEmoji {
    opacity: 1;
}

.emoji-container:hover .emoji-filter {
    opacity: 1;
}

.emoji-filter {
    opacity: .6;
    // filter: grayscale(1);
    width: 24px;
    height: 24px;
}

.previous-filters,
.next-filters {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%;

    &:hover {
        transform: scale(1.04);
        box-shadow: 0px 0px 3px 0px rgb(0, 0, 0); // background-color: #e0e0e0;
    }
}

.prev-month {
    cursor: pointer;
    grid-row: 1;
}

.next-month {
    cursor: pointer;
    grid-row: 1;
}

.month-prev {
    // CONTAINER
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.month-next {
    // CONTAINER
    display: grid;
    grid-template-columns: 1fr;
}

.month-name {
    grid-row: 1;
    place-self: center;
}