.app-footer {
    
    width: 100%;
    max-height: max-content;
    // height: 47px;
    background-color: #fff;
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 14px;
    margin-inline: auto;
    box-shadow: 0 -0.5px #c5c5c5b0;
    z-index: 10;
    &.footer-close{
        display: none;
    }
    &.footer-fixed{
        position: fixed;
        bottom: 0;
        left: 0;
    }
    p {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0px;

    }
    a{
        margin-left: 0.5rem;
    }

    @media (max-width: 550px){
        display: none;
    }
}