.app-header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 160px;
  z-index: 5;
  transition: position 0.3s;

  //   breakpoint 950px!!!
  &.header-sticky {
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 0;
  }

  &.header-inserted {
    height: 80px;
  }

  // @include for-narrow-layout {
  //     padding-left: 40px;
  //     padding-right: 40px;
  // }

  // @include for-normal-layout {
  //     padding-left: 40px;
  //     padding-right: 40px;
  // }

  // @include for-wide-layout {
  //     padding-left: 80px;
  //     padding-right: 80px;
  // }
  // .app-header-

  .header-content {
    display: grid;
    // grid-auto-flow: column;
    grid-template-columns: 1fr;
    align-items: center;
    height: 80px;

    .logo-container {
      grid-column: 1/-1;
      grid-row: 1;
      justify-self: self-start;
      width: 102px;
      height: 80px;

      .logo-header-img {
        width: 100%;
      }

      .logo-header-txt {
        width: 65%;
      }
    }

    .mid-three-menu {
      grid-column: 1/-1;
      grid-row: 1;
      justify-self: center;

      &.mid-three-menu-close {
        display: none;
      }
    }

    .left-header {
      grid-column: 1/-1;
      grid-row: 1;
      justify-self: end; // ASI
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .word-icon {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }

      .moveto-host {
        color: #222222;
        border-radius: 10px;
        font-size: 1rem;

        &:hover {
          background-color: $hoverbgc;
        }
      }
    }

    .user-info {
      color: $clr1;

      .score {
        background-color: $clr2;
        color: $clr6;
        padding: 8px;
        margin: 10px;
        border-radius: 50%;
      }
    }

    .user-info .btn-link {
      color: $clr2;
    }

    nav {
      font-size: 0.8em;

      a {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
      }

      .active {
        color: $clr1;
      }
    }
  }

  // התחלתי מכאן --נוי
  .mid-header {
    height: 80px;

    .header-btns {
      font-size: 1rem;
      border-radius: 10px;

      &:hover {
        background-color: $hoverbgc;
      }

      &.selected {
        background-color: white;
        color: black;
      }
    }
  }

  .small-search-form {
    // transform: translateY(-73px) (scale(0.55, 1.2));
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 1;
    padding: 0;
    width: max-content;
    opacity: 0;

    border: 1px solid #dddddd;
    border-radius: 50px;
    font-size: 12px;
    height: 48px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1019607843),
      0 1px 2px rgba(0, 0, 0, 0.0784313725);
    cursor: pointer;

    transition: all 0.3s;
    display: none;

    &.small-form-expended {
      opacity: 1;
      display: flex;

    }

    .splitter {
      width: 1px;
      height: 24px;
      background-color: #ddd;
    }

    .btn-small-search-bar {
      padding-left: 16px;
      padding-right: 16px;
      border: none;
      background-color: transparent;
      color: #222222;
    }

    .btn-small-search-grey {
      color: #717171;
    }

    // transition: transform .6s opacity .6s; צריך לעבור לחיפוש הגדול
  }

  .burger-menu {
    margin: 0;
    border: 1px solid #dddddd;
    border-radius: 30px;
    padding: 0;
    width: 86px;
    height: 48px;
    justify-content: space-evenly;
    cursor: pointer;

    .avatar {
      margin: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 2px 2px 1px #dddddd88;
    }
  }

  .fa-user,
  .fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-user {
    background-color: rgba(136, 135, 135, 0.696);
    border-radius: 25px;
    height: 32px;
  }

  .fa-bars {
    width: 16px;
    height: 16px;
  }

  .hamburger-menu {
    position: absolute;
    top: 102%;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .manu-one {
      border-bottom: 1px solid #dddddd;
    }

    a,
    span {
      padding: 8px 12px;
      color: #000;
      text-decoration: none;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.screen-shadow {
  position: fixed;
  top: 153px;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000068;
  z-index: 6;
}

.screen-shadow-visible {
  display: block;
}

.search-form {
  border: 1px solid #dddddd;
  border-radius: 50px;
  font-size: 12px;
  height: 70px;
  box-shadow: 0 3px 12px #0000001a, 0 1px 2px #00000014;
  cursor: pointer;
  margin-bottom: 8px;
  transition: all 0.4s;
  opacity: 1;

  &.header-search-inserted {
    transform: translateY(-75px) scaleX(0.4) scaleY(0.7);
    opacity: 0;
  }

  &.close-header {
    display: none;
  }

  .header-search-btn {
    width: 48px;
    height: 48px;
    background-color: #ff385d;
    border: transparent;
    border-radius: 50%;
    color: #fff;
    margin: 10px;
  }

  .splitter {
    // flex: 0 0 1px;
    height: 32px;
    width: 1px;
    margin-top: 20px;
    background-color: #ddd;
  }

  .form-control {
    border-radius: 15px;
    width: 328px;
    height: 70px;
    padding: 14px 33px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 32px;

    &:hover {
      z-index: 1;
      border: 1px solid transparent;
      background-color: #ddd;
    }

    .destination-input {
      all: unset;
      width: 260px;
      height: 30px;
      border: 0;
      cursor: pointer;
      font-size: 13px;

      &:focus {
        outline: none;
      }
    }

    .destination-title {
      width: 260px;
      height: 16px;
      border: 0;
    }
  }

  .form-dates {
    border-radius: 15px;
    width: 140px;
    height: 70px;
    padding: 14px 33px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 32px;

    &:hover {
      border: 1px solid transparent;
      background-color: #ddd;
    }

    .destination-input {
      width: 92px;
      height: 18px;
      border: 0;

      &:focus {
        outline: none;
        background-color: transparent;
      }
    }

    .destination-title {
      width: 260px;
      height: 16px;
      border: 0;
    }
  }

  .empty-contain {
    width: 275px;
    height: 64px;
  }
}