.filter-modal-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 10%;
  width: rem(780px);
  height: rem(772px);
  padding-top: 12px;
  background: white;
  border-radius: 32px;
  box-shadow: 0 0 0 1px #0000000a, 0 8px 16px #00000026;
  padding: 16px 32px;
  cursor: auto;
  z-index: 7;



  .by-rooms {
    width: 100%;

    .selected-option {
      border: 1px solid black;
    }

    button {
      border: 1px #dddddd solid;
      padding: 11px 27px 35px 27px;
      border-radius: 30px;
      font-size: 1em;
      margin: 0 5px;
      transition: border 0.3s ease;


      &:hover {
        border: 1px black solid;
      }
    }
  }

  .by-beds {
    width: 100%;

    .selected-option {
      border: 1px solid black;
    }

    button {
      border: 1px #dddddd solid;
      padding: 11px 27px 35px 27px;
      border-radius: 30px;
      font-size: 1em;
      margin: 0 5px;
      transition: border 0.3s ease;

      &:hover {
        border: 1px black solid;
      }
    }
  }

  .by-bathrooms {
    width: 100%;

    .selected-option {
      border: 1px solid black;
    }

    button {
      border: 1px #dddddd solid;
      padding: 11px 27px 35px 27px;
      border-radius: 30px;
      font-size: 1em;
      margin: 0 5px;
      transition: border 0.3s ease;

      &:hover {
        border: 1px black solid;
      }
    }
  }

  .filter-footer {
    padding: 16px 24px 16px 24px;

    .show-btn {
      padding: 14px 24px 14px 24px;
      background-color: #5a5a5a;
      color: #ffff;
      z-index: 999;
    }
  }
}

.stay-list-on-filter {
  list-style: none;
  padding-inline-start: 0px;
  display: grid;
  justify-content: center;

}

.filter-modal-bottom {
  grid-area: 2/1/-1/2;
  display: grid;
}

.filter-header-title {
  position: absolute;
  left: 45%
}

.filter-modal-mid {
  grid-area: 1/1/-4/2;
  justify-content: space-between;
  align-items: start;
  padding-top: 1.2em;

  .price-min-max {
    // width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.75em;

    // width: 400px;
    .min-price {
      margin-right: 1.5em;
    }

    .max-price {
      margin-left: 1.5em;
    }

    .range {
      padding-top: 2.5em;
    }

    label {
      display: flex;
      flex-direction: column;


    }

    input {
      width: 100px;
    }

    .slider-color {
      // margin-top: 0.5em;
      // margin-bottom: 0.5em;
      color: $clr1;
    }
  }
}

.filter-footer {
  grid-area: 6 / 1 /-1 / 2;
}

.filter-modal-header {
  grid-area: 1 /1 / -6 / 2;
  padding-bottom: 0.35em;
}

.filter-modal {
  .screen-shadow {
    position: fixed;
    top: 0px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(101, 101, 101, 0.5333333333);
    z-index: 6;
  }
}