.imgs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 8px;
  border-radius: 12px;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
  grid-column: 2;
  margin-top: 0;

  .img:not(:first-child) {
    transition: filter 0.2s ease-in-out;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  img:hover {
    filter: brightness(0.8);
  }

  .img1 {
    grid-area: span 2 / span 2;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .view-all-container {
    position: absolute;
    bottom: 8px;
    right: 8px;

    .all-details-imgs {
      padding: 10px 15px;
      border: none;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      border-radius: 4px;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

.modal-imgs-container {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: fixed;
  width: 50em;
  height: 47em;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1215686275) 0 6px 16px;
  background-color: #ffffff;
  border: 2px solid #878585;
  border-radius: 8px;
  z-index: 6;
  overflow: auto;


  .modal-header {
    position: sticky;
    top: 0;
    z-index: 7;
    padding: 10px 20px;

    button {
      width: rem(50px);
      height: rem(30px);
      font-weight: bold;
      font-size: rem(12px);
    }
  }

  .imgs-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two columns
    gap: 1px; // Adjust as needed

    .img-container {
      position: relative;
      margin: 8px;

      &:nth-child(3n) {
        // grid-column: span 2;
        grid-row: span 2;
      }

      .img-index {
        position: absolute;
        background-color: transparent;
        color: white;
        padding: 5px;
        font-size: 20px;
        z-index: 2;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.2s ease-in-out;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

// @media (max-width: 550px) {
//   .imgs-grid {
//     border-radius: 12px;
//     grid-template-columns: 1fr;
//     margin-top: 10px;
//     overflow: hidden;
//     width: 100%;

//     .img {
//       border-radius: 12px;
//       overflow: hidden;
//       margin-top: 10px;

//       &:not(:first-child) {
//         display: none;
//       }
//     }
//   }

//   @media (min-width: 550px) {
//     .imgs-grid {
//       grid-template-columns: 1fr;

//       .img1 {
//         width: 100%;
//       }
//     }
//   }
// }