.upload-preview{
   width: 100%;
   .img-uploader{
    margin-bottom: 1em;
   }
   label{
    font-size: 18px;
    font-weight: 600;
   }
   input{
    border-radius: 15px;
    background-color: $clGreyLighter;
   }
   input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: $clr1;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    box-shadow: 1px 4px 14px -1.5px rgba(0,0,0,0.53);
-webkit-box-shadow: 1px 4px 14px -1.5px rgba(0,0,0,0.53);
-moz-box-shadow: 1px 4px 14px -1.5px rgba(0,0,0,0.53);
  }
  input[type=file]::file-selector-button:hover {
    background: #b6295f;
  }
   .imgs-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    // overflow: hidden;
    gap: 10px;
    
    .img-bg-cover{
      display: flex;
      align-items: center;
      font-weight: 600;
      justify-content: center;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: #CCC;
    }
    .img:not(:first-child) {
      transition: filter 0.2s ease-in-out;
      // max-height: min-content;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      position: relative;
      .btn-img-del{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #d1d1d1dc;
        padding: 5px;
        border-radius: 2em;
        justify-content: center;
        &:hover{
          background-color: #b1b1b1da;
        }
        
      }
    }
    img{
      object-fit: cover;
      aspect-ratio: 1 / 1;
      width: 100%;
    }
    img:hover {
      filter: brightness(0.8);
    }
  
    .img1 {
      position: relative;
      grid-area: span 2 / span 2;
      // aspect-ratio: 1 / 1;
      object-fit: cover;
      max-height: 400px;
      .btn-img-del{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #d1d1d1dc;
        padding: 5px;
        border-radius: 2em;
        justify-content: center;
        &:hover{
          background-color: #b1b1b1da;
        }
        
      }
    }
  }
}