.app-header {
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
    position: sticky;
    z-index: 200;
    top: 0;
    background-color: white;

    @include for-narrow-layout {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include for-normal-layout {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include for-wide-layout {
        padding-left: 80px;
        padding-right: 80px;
    }

    .logo-container {
        width: 102px;
        height: 80px;

        .logo-header-img {
            width: 30px;
            height: 32px;
        }

        .logo-header-txt {
            width: 63px;
            height: 22px;
        }
    }


    .user-info {
        // padding-left: 100px;
        color: $clr1;

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        // img {
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 50%;
        //     object-fit: cover;
        // }
    }

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: 0.8em;

    }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }
    nav a {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}

// התחלתי מכאן --נוי
.mid-header {
    height: 80px;

    .header-btns {
        font-size: 1rem;
        border-radius: 10px;

        &:hover {
            background-color: $hoverbgc;
        }

        &.selected {
            background-color: white;
            color: black;
        }
    }
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'AirbnbCereal';

    .moveto-host {
        color: #222222;
        border-radius: 10px;
        font-size: 1rem;

        &:hover {
            background-color: $hoverbgc;
        }
    }

    .burger-menu {
        border: 1px solid #dddddd;
        border-radius: 30px;
        padding: 0;
        width: 86px;
        height: 48px;
        justify-content: space-evenly;
        cursor: pointer;

        .avatar {
            margin: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;

        }

        &:hover {
            box-shadow: 0 2px 2px 1px #dddddd88;
        }
    }

    .fa-user,
    .fa-bars {
        // shared styles for icons
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-user {
        background-color: rgba(136, 135, 135, 0.696);
        border-radius: 25px;
        height: 32px;
    }

    .fa-bars {
        width: 16px;
        height: 16px;
    }

    .hamburger-menu {
        position: absolute;
        top: 82%;
        right: 0;
        background-color: white;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 0;
        width: 200px;
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .manu-one {
            border-bottom: 1px solid #dddddd;
        }

        a,
        span {
            padding: 8px 12px;
            color: #333;
            text-decoration: none; // Removing underline from links

            &:hover {
                background-color: #f5f5f5; // Change background on hover
            }
        }
    }

}

.search-form {
    border: 1px solid #DDDDDD;
    border-radius: 32px;
    font-size: 12px;
    box-shadow: 0 3px 12px #0000001a, 0 1px 2px #00000014;

    .header-search-btn {
        width: 48px;
        height: 48px;
        background-color: #FF385D;
        border: transparent;
        border-radius: 50%;
        color: #fff;
    }

    .splitter {
        flex: 0 0 1px;
        height: 32px;
        width: 1px;
        background-color: #ddd;
    }

    .form-control {
        // border: 1px solid gray;
        border-radius: 15px;
        width: 328px;
        height: 64px;
        padding: 14px 33px;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 32px;

        &:hover {
            z-index: 1;
            border: 1px solid transparent;
            background-color: #ddd;
        }

        .destination-input {
            width: 260px;
            height: 30px;
            border: 0;

            &:focus {
                outline: none;
            }
        }

        .destination-title {
            width: 260px;
            height: 16px;
            border: 0;
        }
    }

    .form-dates {
        border-radius: 15px;
        width: 140px;
        height: 64px;
        padding: 14px 33px;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 32px;

        &:hover {
            border: 1px solid transparent;
            background-color: #ddd;
        }

        .destination-input {
            width: 92px;
            height: 18px;
            border: 0;

            &:focus {
                outline: none;
            }
        }

        .destination-title {
            width: 260px;
            height: 16px;
            border: 0;
        }

    }

    .empty-contain {
        width: 275px;
        height: 64px;
    }
}