.airbnb-calendar {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    top: 155px;
    width: 848px;
    height: 511px;
    // margin-top: 12px;
    background: white;
    border-radius: 32px;
    box-shadow: 0 0 0 1px #0000000a, 0 8px 16px #00000026;
    padding: 16px 32px;
    justify-content: space-evenly;
    cursor: auto;
    z-index: 7;

    .calendar-controls {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;

        button {
            background-color: #FF5A5F;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            font-size: 1em;
            margin: 0 5px;

            &:hover {
                background-color: darken(#FF5A5F, 10%);
            }
        }
    }

    .calendar-month {
        width: 390px; // Applied to each calendar month
        height: 343px;
        padding: 27px;
        font-weight: bold;
        padding-top: 0;

        .month-name {
            font-size: 1rem;
            color: #222;
            padding-bottom: 0px;

        }

        .calendar-header {
            display: flex;
            background-color: white;
            color: #8f7e7e;
            text-align: center;
            // font-weight: bold;
            padding-top: 15px;


            .calendar-header-day {
                flex-grow: 1;
                font-size: 0.70em;
                display: flex;
                justify-content: center;
                width: 46px;
                height: 30px;
            }
        }

        .calendar-body {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
            // width: 300px;

            .calendar-day {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1.5px solid transparent;
                cursor: pointer;
                background-color: #fff;
                color: #222;
                transition: background-color 0.3s;
                height: 44px;
                font-size: 0.875rem;
                border-radius: 100%;

                &:hover {
                    background: rgb(255, 255, 255);
                    border: 1.5px solid rgb(34, 34, 34);
                }

                &.in-range {
                    background-color: rgba(151, 150, 150, 0.306);
                    border-radius: 0;
                }

                &.check-in-day,
                &.check-out-day {
                    background-color: #222222; // Check-in and check-out color
                    color: white; // Optional: change text color for better contrast
                    border-radius: 0;

                }

                &.empty-day {
                    background-color: transparent;
                    cursor: default;

                    &:hover {
                        border: 1px solid white;

                    }
                }

                &.past-day {
                    opacity: 0.25;
                    cursor: default;

                    &:hover {
                        border: 1px solid white;
                    }
                }

                // Styles for future days
                // font-weight: bold;
            }
        }
    }
}