.chat-toggle {
    position: fixed;
    bottom: 90px;
    right: 20px;
    padding: 5px 10px;
    background-color: transparent;
    color: #ff385c;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: darken(#fff, 10%);
    }
}

div {
    .hidden {
        display: none;
    }

    .mini-user-chat {
        border-radius: 50%;
        height: 40px;
        object-fit: cover;
        width: 40px;
    }
}

.chat-window {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 300px;
    height: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; // Enable flexbox layout
    flex-direction: column; // Stack children vertically
    overflow: hidden; // Hide overflow to respect border radius

    .chat-header {
        background-color: #ff385c;
        color: white;
        padding: 10px;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-bottom: 0px;

        .chat-close {
            float: right;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }

    .chat-body {
        padding: 10px;
        overflow-y: auto; // Allow scrolling
        flex-grow: 1; // Take up available space
        font-size: 1.05rem;
        color: #333;
        background: darkgray;
    }

    .chat-footer {
        padding: 10px;
        border-top: 1px solid #ff385c;
        display: flex;
        background: darkgray;

        .chat-input {
            flex-grow: 1;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;

            /* &:focus-visible {
                border: 5px solid rgb(149, 22, 22);
            } */

        }

        .send-button {
            margin-left: 10px;
            padding: 5px 10px;
            background-color: #ff385c;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: darken(#ff385c, 10%);
            }
        }
    }
}