.screen-shadow-login {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(101, 101, 101, 0.53);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal {
    top: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: fixed;
    width: calc(100% - 2rem);
    max-width: 568px;
    height: auto;
    padding: 2rem;
    background-color: #f3f3f3;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.login-modal-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
}

.secondary-button,
.demo-login-button {
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-divider {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.secondary-button:hover,
.demo-login-button:hover {
    opacity: .8;
}


@media (max-width: 768px) {
    .login-modal {
        width: calc(100% - 1rem);
        padding: 1rem;
    }
}