.modal-reviews {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: fixed;
  min-width: 19em;
  height: 30em;
  padding: 20px;
  box-shadow: #0000001f 0 6px 16px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  z-index: 6;
  overflow: auto;

  .reviews-on-modal {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 330px;
  }
}

.review-li {
  margin: 5px;
  border-bottom: 1px solid #e1e1e1;
}


.amenities-container {

  .amenitie-modal {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: fixed;
    min-width: 29em;
    height: 30em;
    padding: 20px;
    box-shadow: #0000001f 0 6px 16px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    z-index: 6;
    overflow: auto;

    .amenitie-items {
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
  }

  h4 {
    font-family: "Circular-Bold";
    font-size: 1.5rem;
  }

  .amenities-ul {
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: start;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    width: calc(100% + 16px);
  }

  .amenities-li {
    // align-items: center;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;

    span {
      padding: 0px 0px 0px 16px;
    }
  }

  .amenities-btn {
    align-items: center;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 8px;
    color: #222;
    display: flex;
    font-family: cereal-Medium;
    font-size: 1rem;
    gap: 8px;
    justify-content: center;
    line-height: 20px;
    padding: 13px 23px;
    text-align: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}