@media (max-width: 550px) {
  .stay-details-stickyCard {
    display: none;
  }
}

/* StickyCard.css */
.stay-details-stickyCard {
  position: sticky;
  min-width: 23em;
  // width: max-content;
  // display: flex;
  justify-content: center;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.stay-details-stickyCard h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
