// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";

// Views
@import "views/AboutUs";
@import "views/HomePage";
@import "views/StayIndex";
@import "views/ReviewIndex";
@import "views/UserDetails";
@import "views/StayDetails";
@import "views/PaymentPage";
@import "views/BackOffice";
@import "views/StayEdit";
@import "views/UserTrips";
@import "views/Wishlist";
@import "views/_Messages.scss";
// Components
@import "cmps/AppHeader";
@import "cmps/AppHeaderFilter";
@import "cmps/Calendar";
@import "cmps/Destination";
@import "cmps/Guest";
@import "cmps/AppFooter";
@import "cmps/UserMsg";
@import "cmps/ShoppingCart";
@import "cmps/ImgUploader";
@import "cmps/DetailsSubHeader";
// @import "cmps/StayPreview";
@import "cmps/StickyCard";
@import "cmps/Carusel";
@import "cmps/DashboardResarvation";
@import "cmps/LoginSinup";
@import "cmps/LoginModal";
@import "cmps/GalleryApt";
@import "cmps/StayAmenities";
@import "cmps/StayReviews";
@import "cmps/Filter";
@import "cmps/Chat";
