.main-container {
  &.main-stay-index {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    > * {
        grid-column: 2;
  
        &.full {
          grid-column: 1 / -1;
        }
      }

    

    @include for-narrow-layout {
      grid-template-columns: 40px minmax(auto, $normal-breakpoint) 40px;
    }

    @include for-normal-layout {
      grid-template-columns: 40px minmax(auto, $wide-breakpoint) 40px;
    }

    @include for-wide-layout {
      grid-template-columns: 80px minmax(auto, 1fr) 80px;
    }
  }

  &.main-back-office-container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    padding-left: 25px;
    padding-right: 25px;

    @media (min-width: 745px) {
      padding-left: 40px;
    padding-right: 40px;
    }
    @media (min-width: 950px) {
      padding-left: 80px;
    padding-right: 80px;
    }
    @media (min-width: 1440px) {
      grid-template-columns: 1fr 1280px 1fr;
      > * {
        grid-column: 2;
  
        &.full {
          grid-column: 1 / -1;
        }
      }
    }
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
