.payment-container {
  // display: grid;
  // grid-template-columns: 40px 1fr 40px;
  // grid-template-rows: auto 1fr 1fr;
  // padding: 0;
  // max-width: 2520px;
  // margin-inline: auto;
}

.page-title {
  // grid-row: 1 / span 2;
  padding-top: 64px;
  padding-bottom: 48px;
  gap: 32px;
  align-items: center;

  h2 {
    line-height: 1;
    margin: 0px;
  }
}

.order-content {
  // grid-row: 3 / span 4;
}

.rare-find {
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  height: fit-content;
  margin-bottom: 48px;
  gap: 35px;
}

.trip-details {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.trip-details > * {
  padding-bottom: 24px;
}

.summary-card-section {
  img {
    height: 106px;
    width: 124px;
    border-radius: 8px;
  }
}

.login-section {
  padding: 32px;
}
