.edit-main-container {
  // justify-self: center;
  display: grid;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: $clblack;
  
  p {
    color: $clgrey;
  }
  .new-stay-container {
    &.step-0{
      max-width: 600px;
      .step-0-title{
        margin-bottom: 1em;
      }
      .steps-container{
        
        .level-container{

          padding-bottom: 1.5em;
          padding-top: 1.5em;
          border-bottom: 1px solid $clGreyMid;

          &.last{
            border-bottom: none;
          }
          .level-content{
            margin-left: 1em;
            padding-right: 1em;

          }
          img{
            object-fit: contain;
            aspect-ratio: 1/1;
            max-height: 120px;
            max-width: 120px;
          }
        }
      }

    }

    &.step-1 {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      .step-1-title {
        font-size: 2.8rem;
        font-weight: bolder;
      }
      .video-step-container {
        align-self: center;
        video{
          max-height:600px ;
          aspect-ratio: 1/1;
        }
      }
    }
    &.step-2 {
      max-width: 630px;
      margin-block-end: 140px;
      .step-2-title {
        margin-top: 0.25em;
        margin-bottom: 0.5em;
      }
      .btns-container-new-stay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        grid-auto-flow: row;
        .btn-type-apt {
          display: flex;
          flex-direction: column;
          padding: 16px;
          background-color: #ffff;
          border: 1px solid #dddddd;
          color: $clblack;
          border-radius: 0.5rem;
          transition: all 0.5s;
          margin: 0;
          .type-title {
            margin-top: 0.25em;
            font-size: 18px;
          }
        }
        .btn-type-apt:hover {
          border: 1px solid $clblack;
        }
        .btn-type-selected {
          border-color: transparent;
          box-shadow: 0 0 0 2px $clblack;
          background-color: #e7e7e7;
        }
      }
    }

    &.step-3 {
      display: flex;
      color: $clblack;
      flex-direction: column;

      .step-3-title {
        margin-bottom: 1em;
      }
      .btns-container {
        .btn-opt {
          margin: 0;
          margin-bottom: 1em;
          padding: 0;
          background-color: #ffffff;
          border-radius: 1em;
          border: 1px solid $clGreyMid;
          color: $clblack;
          .btn-describe {
            text-align: start;
            padding: 24px;
            .btn-title {
              font-size: rem(18px);
              margin-bottom: 0.3em;
            }
            .btn-content {
              font-size: rem(14px);
              color: $clgrey;
            }
          }
          svg {
            margin-right: 24px;
          }
          &:hover {
            border: 1px solid $clblack;
          }
        }
        .btn-type-selected {
          border-color: transparent;
          box-shadow: 0 0 0 2px $clblack;
          // background-color: $clGreyLighter;
          background-color: #e7e7e7;
        }
      }
    }

    &.step-4 {
      display: flex;
      color: $clblack;
      flex-direction: column;

      .loc-step-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;
        margin-bottom: 1em;

        input {
          font-size: 1.2rem;
          padding: 0.5rem;
        }
      }
    }

    &.step-5 {
      .basics-step-container {
        .basic {
          border-bottom: 1px solid $clGreyMid;
          padding-top: 1.5em;
          padding-bottom: 1.5em;
          .basic-value {
            text-align: center;
            width: 1.2rem;
            margin-left: 0.5em;
            margin-right: 0.5em;
          }
          .btn-basic {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            padding: 0;
            border-radius: 2em;
            border: 1px solid $clgrey;
            background-color: #ffffff;
            // color:#B0B0B0;
            color: $clgrey;
          }
          .basic-not-allowed {
            cursor: not-allowed;
            opacity: 0.6;
          }
        }
        .basic-last {
          border: none;
        }
      }
    }

    &.step-6 {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      .video-step-container {
        align-self: center;
        video{
          max-height:600px ;
          aspect-ratio: 1/1;
        }
      }
    }

    &.step-7 {
      max-width: 630px;
      margin-block-end: 140px;
      .step-7-title {
        margin-top: 0.25em;
        margin-bottom: 0.5em;
      }
      .btns-container-new-stay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        grid-auto-flow: row;
        .sub-title {
          grid-column: 1/-1;
          margin-bottom: 0.5em;
          margin-top: 0.5em;
        }
        .btn-amt-apt {
          display: flex;
          flex-direction: column;
          align-items: start;
          text-align: start;
          padding: 16px;
          background-color: #ffff;
          border: 1px solid #dddddd;
          color: $clblack;
          border-radius: 0.5rem;
          transition: all 0.5s;
          margin: 0;
          .type-title {
            margin-top: 0.25em;
            font-size: 18px;
          }
        }
        .btn-amt-apt:hover {
          border: 1px solid $clblack;
        }
        .btn-amt-selected {
          border-color: transparent;
          box-shadow: 0 0 0 2px $clblack;
          background-color: #e7e7e7;
        }
        .carbon-alarm {
          width: 28px;
          height: 28px;
          border: 2px solid #222222;
          border-radius: 0.5em;
        }
      }
    }

    &.step-8 {
      min-width: 500px;
      max-width: 700px;
      margin-block-end: 140px;
      .imges-step-container {
        display: grid;
        grid-template-columns: 1fr;
      }
    }

    &.step-9 {
      display: flex;
      flex-direction: column;
      max-width: 630px;
      .name-stay-container {
        .name-stay {
          padding: 0.5em;
          border-radius: 10px;
          height: 100px;
          width: 100%;
        }
      }
    }

    &.step-10 {
      display: flex;
      flex-direction: column;
      min-width: 550px;
      .summry-stay-container {
        .summry-stay {
          padding: 0.5em;
          border-radius: 10px;
          height: 250px;
          width: 100%;
        }
      }
    }
    &.step-11 {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      .video-step-container {
        align-self: center;
        video{
          max-height:600px ;
          aspect-ratio: 1/1;
        }
      }
    }
    &.step-12 {
      display: flex;
      flex-direction: column;
      min-width: 550px;
      .price-step-container {
        margin-top: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .slider-color{
          color: $clr1;
        }
        .price-step-show {
          margin-bottom: 1.8em;
        }
        input{
          font-size: 30px;
          text-align: center;
          width: max-content;
          margin: 0;
          padding: 1rem;
          border: none;
          border-bottom:none;
        }
        input:focus-visible{
          border: none;
          border-bottom: #222222;
          outline: none;
        }

      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    
    &.step-13{
      display: flex;
      flex-direction: column;
      max-width: 630px;
      .review-step-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        column-gap: 10px;
        
        .card-prev-edit{
          justify-self: left;
          display: flex;
          flex-direction: column;
          min-width: 250px;
          max-width: 300px;
          border: 1px solid #ddd;
          border-radius: 15px;
          padding: 0.75em;
          box-shadow: 0px 0px 14px 4px rgba(150,150,150,0.87);
-webkit-box-shadow: 0px 0px 14px 4px rgba(150,150,150,0.87);
-moz-box-shadow: 0px 0px 14px 4px rgba(150,150,150,0.87);
          img{
            border-radius: 15px;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            aspect-ratio: 1/1;
            margin-bottom: 0.75em;
          }
          .rating-content{
            margin-right: 5px;
          }
        }
        .dis-titels-container{
          padding: 15px;

          .card-titles{
            margin-top: 0.75rem;
            .icon-card{
              width: 28px;
              height: 28px;
            }
            .card-content{
              margin-left: 1rem;
              margin-bottom: 0.5rem;
              line-height: 1.2rem;
              .card-title{
              margin-bottom: 0.4rem;
            }
            
          }
          
        }
      }
      }
      
      
      
    }
    &.step-14{
      display: flex;
      flex-direction: column;
      margin-top: 30%;
      
      width: 500px;
      
      .step-14-title{
        margin-bottom: 1rem;
      }
      .img-container{
        width: 100px;
        
      }
    }
  }
  .footer-edit {
    z-index: 222;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    height: 100px;
    right: 0;
    left: 0;
    .footer-bar {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      column-gap: 10px;
      height: 5px;
      margin-bottom: 1em;
      transition: all 0.7s;
      .bar-progress {
        width: 100%;
        height: 100%;
        background-color: #dddddd;
        &.step-done {
          background-color: #222222;
        }
      }
    }
    .btns-footer-edit {
      display: grid;
      grid-template-columns: 1fr ;
      >*{
        grid-row:1 ;
      }
      .btn-footer-edit {
        
        padding: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 0.5em;
        font-size: 18px;
        width: max-content;
        margin: 0;
        transition: all 0.3s;
      }
      .btn-get-started{
        background-color: $clr1;
        align-items: center;
        justify-self: end;
        margin-right: 5em;
        &:hover{
          background-color: #b60f4f;
        }
      }
      .btn-back-level {
        background-color: transparent;
        color: #222222;
        align-items: center;
        justify-self: start;
        text-decoration: underline;
        margin-left: 5em;
        &:hover{
          background-color: #DDD;
        }
      }
      .btn-next-level {
        background-color: #222222;
        align-items: center;
        justify-self: end;
        margin-right: 5em;
        &:hover{
          background-color: #000000;
        }
        
      }
    }
  }
}
