.stay-details-container {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  list-style: none;
  padding-inline-start: 0px;
  justify-content: center;

  main {
    padding: 0;
  }
  h2 {
    font-family: AirbnbCereal;
    color: black;
  }
  .stay-dets {
    grid-column: 2;
  }
  .imgs-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    //grid-template-rows: 50% 50%;
    gap: 8px;
    border-radius: 12px;
    // height: 50%;
    margin-top: 10px;
    // max-height: 451.39px;
    overflow: hidden;
    width: 100%;
  }

  .imgs-grid .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: filter 0.2s ease-in-out;
  }

  .imgs-grid .img:hover {
    filter: brightness(0.8);
  }

  .img1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .stay-dets-summary {
    padding-block: 2rem;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
    .stay-dets-highlight {
      grid-row: 2;
    }
  }

  .capacity {
    grid-column: 1 / span 2;
    border-bottom: 1px solid #dddddd;
    width: 50%;
  }

  .sticky-card {
    position: sticky;
    // grid-column: 2 / -1;
    text-align: end;
  }

  @media (max-width: 550px) {
    grid-template-columns: min-content;
    .imgs-grid {
      border-radius: 12px;
      grid-template-columns: 1fr;
      margin-top: 10px;
      overflow: hidden;
      width: 100%;
    }
    .img {
      border-radius: 12px;
      overflow: hidden;

      margin-top: 10px;

      &:not(:first-child) {
        display: none;
      }
    }
  }

  // @media (min-width: 550px) {
  //   /* grid-template-columns: repeat(auto-fill, minmax(239px, 1fr)); */
  //   // grid-template-columns: minmax(239px, 1fr) minmax(239px, 1fr);
  //   // row-gap: 40px;
  //   // column-gap: 24px;
  //   grid-template-columns: 1fr;
  // }
  @media (min-width: 550px) {
    /* grid-template-columns: repeat(auto-fill, minmax(239px, 1fr)); */
    /* grid-template-columns: minmax(239px, 1fr) minmax(239px, 1fr); */
    /* row-gap: 40px; */
    /* column-gap: 24px; */
    grid-template-columns: 1fr;
  }

  // @media (min-width: 950px) {
  //   // grid-template-columns: minmax(274px, 1fr) minmax(274px, 1fr) minmax(
  //   //   274px,
  //   //   1fr
  //   //   );
  //   grid-template-columns: 1fr;

  //   .imgs-grid {
  //     border-radius: 12px;
  //     gap: 8px;
  //     grid-template-columns: repeat(4, 1fr);
  //     grid-template-rows: 50% 50%;
  //     height: 50%;
  //     margin-top: 10px;
  //     max-height: 451.39px;
  //     overflow: hidden;
  //     width: 100%;
  //   }
  // }
  // @media (min-width: 950px) {
  /* grid-template-columns: minmax(274px, 1fr) minmax(274px, 1fr) minmax(274px, 1fr); */
  // grid-template-columns: 1fr;
  // }

  // @media (min-width: 1128px) {
  //   // grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  // }
  // }
}
