.stay-details-container {
  padding: 3em;
  list-style: none;
  // padding-inline-start: 0px;
  justify-content: center;
  color: black;

  .title {
    font-size: 1.625rem;
    line-height: 1.875rem;
    margin-bottom: 0.4375rem;

    h4 {
      font-family: "Circular";
      font-size: 1.1rem;
      color: grey;
    }
  }
  main {
    padding: 0;
  }
  h2 {
    font-family: "Circular-Bold";
    color: black;
  }
  h3 {
    margin: 0;
  }

  .stay-dets-summary {
    padding: 0.5em;
    padding-block: 2rem;
    // display: grid;
    // grid-template-columns: 1fr 370px;
    display: flex;
    justify-content: space-between;
    // .stay-dets-highlight {
    //   grid-row: 2;
    // }

    .summary {
      font-size: 1.625rem;
      font-family: "Circular-Bold";
    }

    .capacity {
      font-family: "Circular";
      font-size: 1.1rem;
      color: grey;
    }

    .more-details {
      width: 60%;
    }

    .aircover {
      height: 26px;
      width: 123px;
      object-fit: contain;
      // margin: 0 0 15px;
    }

    .apt-host-details {
      border-bottom: 1px solid #ccc;
      .host-avatar-img {
        height: 56px;
        width: 56px;
        border-radius: 50%;
      }
    }

    .apt-dets-highlights {
      border-bottom: 1px solid #ccc;
      h3 {
        font-family: "Circular-Bold";
      }
    }
    .apt-extra-dets {
      border-bottom: 1px solid #ccc;
    }
  }

  @media (max-width: 550px) {
    .stay-details-container {
      display: grid;
      grid-template-columns: 40px 1fr 40px;
    }
    .stay-dets-summary {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  // @media (min-width: 550px) {
  //   /* grid-template-columns: repeat(auto-fill, minmax(239px, 1fr)); */
  //   // grid-template-columns: minmax(239px, 1fr) minmax(239px, 1fr);
  //   // row-gap: 40px;
  //   // column-gap: 24px;
  //   grid-template-columns: 1fr;
  // }
  @media (min-width: 550px) {
    /* grid-template-columns: repeat(auto-fill, minmax(239px, 1fr)); */
    /* grid-template-columns: minmax(239px, 1fr) minmax(239px, 1fr); */
    /* row-gap: 40px; */
    /* column-gap: 24px; */
    grid-template-columns: 1fr;
  }

  // @media (min-width: 950px) {
  //   // grid-template-columns: minmax(274px, 1fr) minmax(274px, 1fr) minmax(
  //   //   274px,
  //   //   1fr
  //   //   );
  //   grid-template-columns: 1fr;

  //   .imgs-grid {
  //     border-radius: 12px;
  //     gap: 8px;
  //     grid-template-columns: repeat(4, 1fr);
  //     grid-template-rows: 50% 50%;
  //     height: 50%;
  //     margin-top: 10px;
  //     max-height: 451.39px;
  //     overflow: hidden;
  //     width: 100%;
  //   }
  // }
  // @media (min-width: 950px) {
  /* grid-template-columns: minmax(274px, 1fr) minmax(274px, 1fr) minmax(274px, 1fr); */
  // grid-template-columns: 1fr;
  // }

  // @media (min-width: 1128px) {
  //   // grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  // }
  // }
}
