.stay-list {
  list-style: none;
  padding-inline-start: 0px;
  display: grid;
  justify-content: center;

  main {
    padding: 0;
  }

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 550px) {
    // grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
    grid-template-columns: minmax(239px, 1fr) minmax(239px, 1fr);
    row-gap: 40px;
    column-gap: 24px;
  }

  @media (min-width: 950px) {
    grid-template-columns: minmax(274px, 1fr) minmax(274px, 1fr) minmax(274px, 1fr);
  }

  @media (min-width: 1128px) {
    grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  }

  .stay-preview {
    display: flex;
    flex-direction: column;
  }

  .stay-img-card {
    display: grid;
    grid-auto-flow: column;
    
    width: 100%;
    img {
      position: relative;
      object-fit: cover;
      aspect-ratio: 1;
      border-radius: 0.5em;
    }
    
  //   .btn-card-next {
  //     margin: 0;
  //      padding: 0;
  //     align-self: center;
  //     justify-self: end;
  //     position: absolute;
  //     margin-right: 10px;
      
  //   }
  //   .btn-card-prev {
  //     margin: 0;
  //      padding: 0;
  //     position: absolute;
  //     align-self: center;
  //     margin-left: 10px;

    
  // }
  //   .btn-card-img {
  //     width: 32px;
  //     height: 32px;
  //     z-index: 3;
  //      background-color: rgba(255, 255, 255, 0.9);
  //      border-radius: 50%;
  //      color: #222222;
  //      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
  //   }
    
  }

 
  .angle-icon{
    width: 12px;
    height: 12px;
  }
  


  li {
    background-color: #ffff;
    color: black;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h3 {
    margin: 5px;
  }
}