.stay-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
        background-color: #ffff;
        // background-color: $clr2;
        color: black;
        padding: 5px;
        margin: 5px;
    }
    a {
        color: $clr1;
        padding: 10px;
    }    
    h3 {
        padding: 10px 5px;
        margin: 5px;
    }    
}



