.whislist-container{
    &.scroll-down{
      margin-block-start: 160px;
    }
  
  
  .stay-list {
    list-style: none;
    padding-inline-start: 0px;
    display: grid;
    justify-content: center;
    
  
  
    main {
      padding: 0;
    }
  
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  
    @media (min-width: 550px) {
      // grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      row-gap: 40px;
      column-gap: 24px;
    }
  
  
  
    .stay-preview {
      display: flex;
      flex-direction: column;
      line-height: 1.1875rem;
  
      a>* {
        font-size: 15px;
      }
  
      .stay-card-rating {
        // line-height: 1.1875rem;
        margin-inline-start: 4px;
  
  
  
      }
      .stay-card-area,
      .stay-card-distance{
        margin-bottom: 0.1em;
  
      }
      .stay-card-distance,
      .stay-card-dates {
        color: #717171;
      }
      .stay-card-dates{
        margin-bottom: 0.4em;
      }
    }
  
    .stay-img-card {
      display: grid;
      grid-auto-flow: column;
      margin-bottom: 10px;
  
      width: 100%;
  
      img {
        position: relative;
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 0.5em;
      }
    }
  
  
  
  
  
  
    li {
      background-color: #ffff;
      color: black;
  
    }
  
    a {
      color: black;
      text-decoration: none;
    }
  
    h3 {
      margin: 5px;
    }
  }
  
  }