.stay-details-container {
  grid-template-columns: 1fr;

  list-style: none;
  padding-inline-start: 0px;
  display: grid;
  justify-content: center;
  main {
    padding: 0;
  }

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 550px) {
    /* grid-template-columns: repeat(auto-fill, minmax(239px, 1fr)); */
    // grid-template-columns: minmax(239px, 1fr) minmax(239px, 1fr);
    // row-gap: 40px;
    // column-gap: 24px;
    grid-template-columns: 1fr;
  }

  @media (min-width: 950px) {
    // grid-template-columns: minmax(274px, 1fr) minmax(274px, 1fr) minmax(
    //   274px,
    //   1fr
    //   );
    grid-template-columns: 1fr;
  }

  @media (min-width: 1128px) {
    // grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  }
}
